<!-- Card -->
<mat-card>
  <!-- Dropdown -->
  <mat-card-title>Mission Params:</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSalesLog()" [formGroup]="postSales" class="form">
      <mat-form-field>
        <mat-label>Pick a plan</mat-label>
        <mat-select formControlName="planSelect" id="planSelect">
          <mat-option>----</mat-option>
          <mat-option *ngFor="let plan of plans" [value]="plan">
            {{plan.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p>Cost: N{{plan.cost}}.00</p>
        <button mat-raised-button type="submit" id="submit" [disabled]="postSales.invalid || loading">Post</button>
    </form>
  </mat-card-content>
</mat-card>

