<div class="container">
  <button mat-raised-button (click)="logout()" >Logout</button>
  <mat-card>
      <mat-card-title>Yello! <strong>Agent {{user.username}}</strong></mat-card-title>
      <!-- ng if div here -->
      <div>
          <label>+{{}} COMISSION!</label>
      </div>
      <mat-card-content>
        <!-- Monkey DO: remember to try out a simple line graph... maybe? -->
        <button (click)="openPanel()">New Sale!</button>
        <!-- blue pattern bg with white letters
          animations? ::Monkey TRY
            Cost label only appears when dropdown is selected
          button appears with dropdown 
        
        Sales component div becomes active on button click-->
        <app-sales></app-sales>
      </mat-card-content> 
  </mat-card>    
</div>


