<div class="container">
  <button mat-raised-button (click)="logout()" >Logout</button>
  <br>
  <mat-card>
      <mat-card-title>Welcome <strong>{{currentUser.first_name}} {{currentUser.last_name}}</strong></mat-card-title>
      <mat-card-subtitle>Codename: Agent {{currentUser.username}} </mat-card-subtitle>
      <!-- ng if div here -->
      <div *ngIf="visible">
          <label>++ N{{commision}} COMISSION!</label>
      </div>
      <mat-card-content>
        <!-- Monkey DO: remember to try out a simple line graph... maybe? -->
        <button  mat-raised-button (click)="openPanel()">New Sale!</button>
        <!-- <app-sales [work]="enabled" (commishEvent)="getComish($event)" ></app-sales> -->
      </mat-card-content> 
  </mat-card>    
</div>


