

.form {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    /* background-color: white; */
  }
  
.full-width {
/* background-color: white; */
    width: 90%;
}

.container {
    vertical-align: middle;
    height: 60vh;
    width: 100%;
    background-color:  white; 
}

a {
    color: darkgreen;
}

