

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    color: white;
    /* background-color: white; */
  }
  
.full-width {
color:  white;
/* background-color: white; */
width: 88%;
}

.container {
    height: 100vh;
    width: 100%;
    /* background: url('../../assets/background.png') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: antiquewhite
}

a {
    color: darkgreen;
}

